<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="/leads">Go back</a>
    <hr />
    <h1>Current lead:</h1>
    <div class="lead>">
    {{ lead.first_name }} {{ lead.last_name }}. Age: {{ lead.age }}
    </div>
</body>
</html>